{% load static %}


{# ** #}


<div class="row">

  {% for item in about_windows %}
    <div class="col-lg-4">

      <div class="heading-text heading-line heading-line__color-orange">
        <h4>{{ item.subject }}</h4>
      </div>

      <div class="post-thumbnail">
        <div class="post-thumbnail-entry">
          <img alt="{{ item.description }}"
               src="{% static 'windows/images/about/' %}{{ item.img }}"
               style="height: 180px; width: 180px;"
          >

          <div class="post-thumbnail-content">
            <p class="about__fancy-boxes_post">
              от <span class="font__color-orange"><b>{{ item.price }}</b></span>
              <i class="fa fa-ruble-sign"></i>
            </p>
            <h3>{{ item.title }}</h3>
            <p>{{ item.description  }}</p>
          </div>
        </div>
      </div>

      <div class="post-thumbnail-list" style="border: none !important;">
        {% for key, val in item.properties.items %}
          <div class="post-thumbnail-entry about__fancy-boxes_wrapper">
            <div class="post-thumbnail-content">
              <p class="about__fancy-boxes_post">{{ val }}</p>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  {% endfor %}

</div>
