<div class="elementor-container elementor-column-gap-default">
  <div class="elementor-row">
    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-8d16da8 animated-slow elementor-invisible"
         data-id="8d16da8" data-element_type="column"
         data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
      <div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
          <div class="elementor-element elementor-element-2bdc92ec elementor-widget elementor-widget-heading"
               data-id="2bdc92ec" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">ОСТАВЬТЕ ЗАЯВКУ НА КОНСУЛЬТАЦИЮ</h2>
            </div>
          </div>

          <div class="elementor-element elementor-element-073acb6 elementor-widget elementor-widget-heading"
            data-id="073acb6" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">Наш менеджер свяжется с вами <br>
                в течении 15 минут и уточнит детали.</h2>
            </div>
          </div>

          <div class="elementor-element elementor-element-806c11c elementor-button-align-stretch elementor-widget elementor-widget-form"
               data-id="806c11c" data-element_type="widget"
               data-settings="{&quot;button_width&quot;:&quot;100&quot;,&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}"
               data-widget_type="form.default">
            <div class="elementor-widget-container">

              <form class="elementor-form" method="post" name="New Form">
                <input type="hidden" name="post_id" value="425" />
                <input type="hidden" name="form_id" value="806c11c" />
                <input type="hidden" name="referer_title" value="" />

                <input type="hidden" name="queried_id" value="425" />

                <div class="elementor-form-fields-wrapper elementor-labels-above">
                  <div
                    class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
                    <label for="form-field-name" class="elementor-field-label">
                      Ваше имя </label>
                    <input size="1" type="text" name="form_fields[name]" id="form-field-name"
                           class="elementor-field elementor-size-sm  elementor-field-textual"
                           placeholder="например: Андрей">
                  </div>
                  <div
                    class="elementor-field-type-tel elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required">
                    <label for="form-field-email" class="elementor-field-label">
                      Ваш номер телефона </label>
                    <input size="1" type="tel" name="form_fields[email]" id="form-field-email"
                           class="elementor-field elementor-size-sm  elementor-field-textual"
                           placeholder="+7 (___) ___-__-__" required="required" aria-required="true"
                           pattern="[0-9()#&amp;+*-=.]+"
                           title="Only numbers and phone characters (#, -, *, etc) are accepted.">

                  </div>
                  <div
                    class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
                    <button type="submit" class="elementor-button elementor-size-sm">
																						<span>
																							<span class=" elementor-button-icon">
																								<i class="" aria-hidden="true"></i> </span>
																							<span class="elementor-button-text">Отправить</span>
																						</span>
                    </button>
                  </div>
                </div>
              </form>

            </div>
          </div>
          <div
            class="elementor-element elementor-element-17bae5e elementor-widget elementor-widget-heading"
            data-id="17bae5e" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
              <p class="elementor-heading-title elementor-size-default">Отправляя сообщение Вы
                даете согласие на обработку указанных персональных данных</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>